<ul>
  <li>
    a
    <ul>
      <div *ngFor="let item of methodToGetTreeStructure('a')">
        <li>
          - {{item}}
          <ul *ngIf="methodToGetTreeStructure(item).length">
            <li *ngFor="let ans of methodToGetTreeStructure(item)">
              - {{ans}}
              <ul *ngIf="methodToGetTreeStructure(ans).length">
                <li *ngFor="let subAns of methodToGetTreeStructure(ans)">
                  - {{subAns}}
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </div>
    </ul>
  </li>
</ul>